<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shopsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharSetFilter</filter-name>
    <filter-class>com.shop.filter.CharSetFilter</filter-class>
    <init-param>
      <param-name>initEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharSetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>com.shop.filter.AdminLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.shop.servlet.customer.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.shop.servlet.customer.CustomerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.shop.servlet.customer.CustomerLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.shop.servlet.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.shop.servlet.admin.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/admin/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelAdmin</servlet-name>
    <servlet-class>com.shop.servlet.admin.DelAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAdmin</servlet-name>
    <url-pattern>/admin/DelAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAdmin</servlet-name>
    <servlet-class>com.shop.servlet.admin.EditAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdmin</servlet-name>
    <url-pattern>/admin/EditAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAdmin</servlet-name>
    <servlet-class>com.shop.servlet.admin.QueryAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAdmin</servlet-name>
    <url-pattern>/admin/QueryAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddKind</servlet-name>
    <servlet-class>com.shop.servlet.kind.AddKind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKind</servlet-name>
    <url-pattern>/admin/AddKind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelKind</servlet-name>
    <servlet-class>com.shop.servlet.kind.DelKind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelKind</servlet-name>
    <url-pattern>/admin/DelKind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditKind</servlet-name>
    <servlet-class>com.shop.servlet.kind.EditKind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditKind</servlet-name>
    <url-pattern>/admin/EditKind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryKind</servlet-name>
    <servlet-class>com.shop.servlet.kind.QueryKind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryKind</servlet-name>
    <url-pattern>/admin/QueryKind</url-pattern>
  </servlet-mapping>
  
</web-app>